@media (max-width: 1440px) {
    .header {
        min-height: 0;
    }

    .header__info_container {
        grid-template: "logo metro timetable"
                       "- tel call";
        justify-items: start;
    }

    .header__hero_img {
        width: 652px;
        height: 594px;
    }

    .header__hero_title {
        font-size: 40px;
    }

    .header__metro {
        padding-left: 0;
    }

    .header__timetable {
        padding-left: 0;
    }

    .header__telephone {
        padding-top: 0;
    }

    .header__call-me {
        padding-top: 0;
    }

    .implants__text_name {
        font-size: 28px;
    }

    .discounts__item_img1 {
        width: 371px;
        height: 239px; 
    }

    .services__item_title {
        font-size: 22px;
    }
}

@media (max-width: 1280px) {
    .header__hero_img {
        align-self: end;
        width: 476px;
        height: 422px;
    }

    .header__hero_text {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .header__hero_title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .implants__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .implants {
        margin-bottom: 20px;
    }

    .implants__img {
        width: 71px;
        height: 71px; 
    }

    .implants__discount {
        width: 88px;
        height: 88px;
        font-size: 12px;  
    }

    .implants__discount_percent {
        font-size: 25px; 
    }

    .implant-reminder {
        font-size: 22px;
    }

    .harry-up {
        padding-top: 54px;
    }

    .harry-up__title {
        font-size: 50px; 
    }

    .discounts__item_title {
        font-size: 28px;
    }

    .discounts__item_img2 {
        right: 147px;
        bottom: 12px;
        width: 256px;
        height: 236px;
    }

    .discounts__round1 {
        width: 106px;
        height: 106px;
        bottom: 55px;
    }

    .discounts__round2 {
        width: 106px;
        height: 106px;
        bottom: 55px;
    }

    .discounts__item__assurance {
        height: 32px;
        right: -84px;
        top: 40px;
        font-size: 10px; 
    }

    .discounts__item_suntitle {
        font-size: 25px; 
    }

    .green-price {
        font-size: 45px;  
    }

    .harry-up__item_text {
        font-size: 16px;
    }

    .safe-treatment {
        min-height: 0;
        font-size: 22px; 
    }

    .safe-treatment__img {
        width: 116px;
        height: 130px; 
    }

    .rejuvenation {
        min-height: 0;
    }

    .rejuvenation__title {
        font-size: 40px;
    }

    .sign-up__title {
        font-size: 50px;
    }

    .sign-up__paragraph {
        margin-bottom: 26px;
        font-size: 30px; 
    }

    .services__item {
        width: calc((100% - 20px) / 2); 
    }

    .cooperation {
        margin-bottom: 89px;
    }

    .cooperation__list {
        max-height: 128px; 
    }

    .cooperation__title {
        font-size: 30px; 
    }

    .cooperation__nobel {
        gap: 50px; 
    }

    .contacts {
        padding-top: 65px; 
        padding-bottom: 47px; 
    }
}

@media (max-width: 1160px) {
    .discounts__item_img1 {
        width: 305px;
        height: 210px;
        right: 102px;
    }

    .sign-up__info {
        flex-direction: column;
        gap: 46px;
    }

    .sign-up__img {
        width: 100%;
        text-align: center;
    }

    .sign-up__img img {
        width: 630px;
        height: 591px;
        border-radius: 19px;
    }
}

@media (max-width: 1024px) {
    .header__telephone {
        font-size: 24px;
    }

    .header__hero_title {
        font-size: 30px; 
    }

    .header__hero_img {
        width: 390px;
        height: 355px; 
        margin-right: 5px;
    }

    .implants__img {
        width: 61px;
        height: 61px;
    }

    .implants__item {
        font-size: 12px;
    }

    .implants__text_name {
        font-size: 18px;
    }

    .implants__text_size {
        font-size: 14px;
    }

    .implants__text_strikethrough {
        font-size: 12px;
    }

    .implants__discount {
        width: 68px;
        height: 68px;
        font-size: 9px; 
    }

    .implants__discount_percent {
        padding-top: 5px;
        font-size: 20px;
    }

    .implants__discount_number {
        padding-top: 4px;
        font-size: 14px;
    }

    .implant-reminder {
        min-height: 0;
        font-size: 14px;
        border-radius: 0px 12px;
    }

    .implant-reminder__number_big {
        font-size: 18px;
    }

    .implant-reminder__number_middle {
        margin-right: 8px;
        font-size: 15px;
    }

    .harry-up {
        padding-bottom: 65px;
    }

    .harry-up__title {
        margin-bottom: 40px;
        font-size: 38px;
    }

    .south-korea {
        width: 40px;
        height: 40px;
    }

    .discounts__item_title {
        font-size: 18px;
    }

    .discounts__item_paragraph {
        padding-top: 6px;
        font-size: 12px; 
    }

    .discounts__item {
        min-height: 0;
    }

    .discounts__item_top {
        min-height: 0;
        margin-bottom: 21px;
    }

    .dashed {
        min-height: 184px;
        padding: 14px 14px;
    }

    .discounts__item_img1 {
        width: 228px;
        height: 150px;
    }

    .discounts__round1 {
        width: 68px;
        height: 68px;
        bottom: 36px;
        right: 57px;
    }

    .discounts__item_img2 {
        width: 174px;
        height: 142px;
    }

    .discounts__round2 {
        width: 80px;
        height: 80px;
        bottom: 20px;
    }

    .discounts__item__assurance {
        padding: 5px;
        height: 20px;
        right: -98px;
        top: 32px;
        font-size: 8px; 
    }

    .discounts__item_suntitle {
        font-size: 16px;
    }

    .included-list__item {
        padding-left: 21px;
        font-size: 12px; 
    }

    .included-list__item::before {
        width: 15px;
        height: 15px; 
    }

    .green-price {
        padding-top: 16px;
        font-size: 26px;
    }

    .instead-price {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .implants__text_strikethrough {
        font-size: 14px;
    }

    .discounts__book-button {
        padding: 13px 12px 21px;
        min-width: 193px;
        font-size: 12px; 
    }

    .harry-up__item_text {
        font-size: 12px;
    }

    .harry-up__item_paragraph {
        font-size: 10px;
    }

    .harry-up__benefits {
        column-gap: 20px;
        row-gap: 10px;
        margin-bottom: 14px;
    }

    .harry-up__item {
        min-height: 0;
        padding: 25px 27px 19px;
    }

    .harry-up__item_img {
        width: 66px;
        height: 66px;
        margin-bottom: 20px;
    }

    .safe-treatment {
        font-size: 16px;
        border-radius: 14px; 
    }

    .safe-treatment__img {
        width: 59px;
        height: 67px;
    }

    .rejuvenation {
        background: url(./img/rejuvenation768.webp) no-repeat top left;
        background-size: 100%;
    }

    .rejuvenation__text {
        padding-top: 660px;
    }

    .rejuvenation__container {
        justify-content: center;
    }

    .services__title {
        margin-bottom: 35px;
        font-size: 42px;
    }

    .sertificate {
        gap: 16px;
    }

    .sertificate__img {
        width: 107px;
        height: 151px;
    }

    .cooperation__nobel {
        gap: 90px;
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .header__info_container {
        grid-template-columns: 220px 1fr 1fr;
        grid-template-rows: 86px;
    }

    .header__metro {
        padding-left: 29px;
        padding-top: 8px;
    }

    .header__timetable {
        padding-top: 13px;
        padding-left: 24px;
    }

    .header__telephone {
        padding-left: 28px;
    }

    .header__call-me {
        padding-left: 25px;
    }

    .header__hero {
        padding-top: 0;
    }

    .header__hero_img {
        margin-right: 0;
    }

    .header__hero_text {
        padding-top: 69px;
    }

    .header__hero_title {
        margin-bottom: 16px;
    }

    .implants__item:not(:last-child) {
        margin-bottom: 3px;
    }

    .implants {
        margin-bottom: 8px;
    }

    .implants__img {
        margin-right: 24px;
    }

    .implants__text {
        margin-right: 35px;
    }

    .implant-reminder {
        padding: 8px;
    }

    .discounts__item_top {
        margin-bottom: 17px;
    }

    .discounts__item_suntitle {
        padding-left: 16px;
    }

    .dashed {
        min-height: 177px;
        padding: 10px 7px;
        gap: 6px;
    }

    .discounts__item_img1 {
        right: 63px;
    }

    .discounts__round1 {
        right: 25px;
    }

    .included-list {
        padding-left: 16px;
    }

    .discounts__item_suntitle {
        margin-bottom: 8px;
    }

    .included-list__item {
        line-height: 165%;
    }

    .green-price {
        padding-top: 12px;
    }

    .instead-price {
        margin-bottom: 15px;
    }

    .discounts__book-button {
        padding: 8px 12px 16px;
    }

    .harry-up__item {
        padding: 32px 27px 19px;
    }
    
    .safe-treatment {
        padding: 13px 49px;
    }

    .safe-treatment__img {
        margin-right: 42px;
    }

    .rejuvenation__text {
        padding-top: 532px;
        padding-left: 75px;
    }

    .rejuvenation__title {
        margin-bottom: 16px;
        font-size: 37px;
    }

    .rejuvenation__effect {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .rejuvenation__paragraph {
        margin-bottom: 29px;
        font-size: 15px;
    }

    .rejuvenation__list {
        row-gap: 17px;
        margin-bottom: 29px;
    }

    .rejuvenation__list_item {
        padding-left: 36px;
        padding-right: 25px;
        font-size: 14px;
    }

    .rejuvenation__list_item::before {
        width: 20px;
        height: 20px;
    }

    .rejuvenation__btn {
        padding: 13px 32px;
        font-size: 12px;
    }

    .sign-up__title {
        margin-bottom: 17px;
        font-size: 40px;
    }

    .sign-up {
        padding-top: 76px;
        padding-bottom: 50px;
    }

    .sign-up__paragraph {
        max-width: 439px;
        font-size: 24px;
    }

    .services {
        padding-top: 0;
        padding-bottom: 85px;
    }

    .services__link {
        padding: 39px 19px 21px 28px;
    }

    .services__list {
        margin-bottom: 45px;
        column-gap: 20px;
        row-gap: 15px;
    }

    .services__item {
        min-height: 0;
    }

    .services__item_title {
        margin-bottom: 24px;
    }

    .services__item_item {
        font-size: 12px;
    }

    .services__item_list {
        margin-bottom: 16px;
    }

    .services__item_flex1, .services__item_info {
        padding: 3px 16px;
    }

    .services__item_flex {
        gap: 3px;
        font-size: 11px;
    }

    .services__item_info {
        font-size: 11px;
    }

    .services__link_p {
        padding: 21px 16px 21px 28px;
    }

    .services__item_titlem {
        margin-bottom: 15px;
    }

    .services__item_from {
        right: 23px;
        font-size: 14px;
    }

    .services__link::after {
        width: 94px;
        height: 86px;
    }

    .services__item_item {
        line-height: 130%;
    }

    .services__btn {
        font-size: 16px;
        padding: 17px 53px;
    }
    
    .cooperation__title {
        margin-bottom: 35px;
        font-size: 28px;
        padding-left: 38px;
    }

    .cooperation__green {
        padding-top: 48px;
    }

    .cooperation__paragraph {
        margin-bottom: 22px;
        padding-left: 37px;
    }

    .cooperation__item {
        padding-left: 28px;
        margin-bottom: 0;
    }

    .cooperation__list {
        margin-bottom: 41px;
        padding-left: 40px;
        column-gap: 45px;
        row-gap: 7px;
    }

    .cooperation__nobel {
        padding-left: 38px;
    }

    .cooperation__nobel_text {
        padding-top: 20px;
    }

    .cooperation__nobel_paragraph {
        padding-left: 28px;
        font-size: 16px;
    }

    .cooperation__nobel_title {
        margin-bottom: 10px;
    }

    .practicing-list {
        flex-direction: column;
        gap: 10px;
        padding: 0px 37px;
    }

    .practicing-list__item::before {
        width: 24px;
        height: 24px;
    }

    .cooperation__paragraph_m {
        margin-bottom: 17px;
    }

    .sertificate {
        padding-top: 31px;
    }

    .contacts {
        min-height: 0;
    }
}